'context-menu':
  'atom-text-editor:not([mini])': [
    {'label': 'Inspect issue', 'command': 'linter-bundle:inspect'}
  ]

'menu': [
  {
    'label': 'Packages',
    'submenu': [
      {
        'label': 'Linter',
        'submenu': [
          {'label': 'Lint', 'command': 'linter-bundle:lint'}
          {'label': 'Debug', 'command': 'linter-bundle:debug'}
          {'type': 'separator'}
          {'label': 'Toggle Panel', 'command': 'linter-bundle:toggle-panel'}
          {'label': 'Next Issue', 'command': 'linter-bundle:next'}
          {'label': 'Previous Issue', 'command': 'linter-bundle:previous'}
          {'label': 'Inspect Issue', 'command': 'linter-bundle:inspect'}
          {'type': 'separator'}
          {'label': 'Toggle Linter', 'command': 'linter-bundle:toggle-linter'}
          {'label': 'Toggle Current File Linting', 'command': 'linter-bundle:toggle-current-file'}
        ]
      }
    ]
  }
]
